.music-player-container {
  right: 75%;
  top: 20%;
  position: fixed;
  width: 300px;
  height: 70%;
  background-color: rgba(141, 141, 141, 0.7);
  border-left: 1px solid #ddd;
  padding: 20px;
  scroll-snap-type: y mandatory;
  transition: right 0.2s ease;
  box-shadow: 0px 0px 20px rgba(68, 67, 67, 0.1);
  border-radius: 50px;
  
}

.music-player-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.search-and-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-and-controls input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.2s ease;

}

.music-controls button {
  margin-top: 21px;
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease;

}

.music-controls button:hover {
  background-color: #ddd;
}

.current-track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.current-track-info img {
  width: 70%;
  max-width: 300px;
  border-radius: 4px;
  resize: horizontal;
  scroll-snap-align: center;
  transition: transform 0.2s ease;
}

.user-select img {
  -webkit-user-select: none; /* Safari 3+, Safari on iOS 3+ */
  user-select: none; /* Standard syntax */
}

.current-track-info img:hover {
  animation: ButifierImageSmoothing 1s ease;
  image-resolution: 300dpi;
  filter: blur(0.5px);
}
@keyframes ButifierImageSmoothing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  
}


.current-track-info h3 {
  margin-top: 10px;
}


.current-track-info p {
  margin-top: 5px;
  font-size: 0.8em;
  color: #666;
}

.current-track-info p span {
  color: #333;
}

.current-track-info p span:hover {
  color: #000;
  cursor: pointer;
}

.current-track-info p span:active {
  color: #000;
}

.current-track-info p span:visited {
  color: #000;
}

.current-track-info p span:focus {
  color: #000;
}

.music-player-container {
  /* Your existing styles for larger screens */

  @media (max-width: 767px) {
    display: none;

  }
}
